<!DOCTYPE html>
<html>
  <head>
    <title>Simple Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %> ' >
    <div id="banner">
      <h1>Welcome To The Simple Store</h1>
    </div>

    <div id="columns">
      <div id="side">

        <ul>
          <li><a href="/shopper/index.html">Home</a></li>
          <li><a>Questions</a></li>
          <li><a>News</a></li>
          <li><a>Contact</a></li>
        </ul>
        <div style=“color:yellow”>
        <h1></h1>
        </div>

<div id=“cart">
<%= render(@cart)%> </div>

      </div>

      <div id="main">
          <%= yield %>
      </div>
    </div>
  </body>
</html>
